* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card {
  height: 480px;
  width: 350px;
  background-color: white;
  border-radius: 10%;
  border: 3px solid black;
  overflow: hidden;
}
#allStory {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid black;

  padding: 15px;
}
.story {
  height: 90px;
  width: 90px;
  border: solid red 3px;
  border-radius: 50%;
  overflow: hidden;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
